.main {
    background-color: white;
    margin: auto;
    width: 708px;
    border-radius: 30px;
    align-items: center;
}

body {
    background-color: black;
}

ul {
    list-style-type: none;
}

li div {
    display: inline-flex;
    align-items: center;
    width: 95%;
    border-bottom: 1px solid #e1f1ff;
    padding: 10px;
}

li div h4 {
    font-size: 25px;
    font-weight: 400;
    padding-left: 10px;
}

li div img {
    mix-blend-mode: multiply;
    width: 45px;
}

.library-heading {
    font-size: 40px;
    padding-left: 40px;
    padding-top: 40px;
    font-weight: 600;
}

.recently-heading {
    font-size: 40px;
    font-weight: 600;
}

.profile {
    width: 50px;
    border-radius: 50%;
    width: 60px;
}

li div h4 {
    font-size: 35px;
    font-weight: 300;
}

.options {
    padding-top: 40px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.library {
    flex: 1;
}

.image {
    flex: 1;
    text-align: right;
    padding-right: 40px;
    padding-top: 20px;
}

li {
    transition: all 0.2s;
}

li:hover {
    background-color: #e1f1ff;
    border-bottom: none;
}

.recently {
    padding-left: 40px;
    padding-bottom: 200px;
}

.Twosongs div img {
    width: 300px;
    border-radius: 10px;
}

.song2 {
    padding-left: 40px;
}

.Twosongs {
    display: flex;
}

.song1 h5 {
    padding-top: 7px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    padding-left: 5px;
}

.song1 h6 {
    padding-top: 0px;
    font-weight: 400;
    font-size: 18px;
    color: #afafaf;
    padding-left: 5px;
}

.Twosongs {
    padding-top: 10px;
}

.song2 h5 {
    padding-top: 7px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    padding-left: 5px;
}

.song2 h6 {
    padding-top: 0px;
    font-weight: 400;
    font-size: 18px;
    color: #afafaf;
    padding-left: 5px;
}

/*@media(max-width: 2015px) {
    .Twosongs div{
        width: 200px;
    }
}*/

.player img {
    width: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 708px;
    height: 200px;
    background-color: rgba(242, 242, 242, 0.93);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
}

.player {
    display: flex;
    padding: 10px;
}

.player img {
    border-radius: 5px;
    height: 60px;
    width: 60px;
}

.player h5 {
    padding-top: 16px;
    margin: 0;
    font-size: 18px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 20px;
}

.player {
    padding-left: 50px;
    border-bottom: 1px solid #cac9c9;
}

.media-player {
    padding-left: 340px;
    padding-top: 12px;

}

.media-player img {
    mix-blend-mode: multiply;
    padding-left: 20px;
    width: 55px;
    height: 30px;
}

.nav div img {
    mix-blend-mode: multiply;
    width: 60px;
}

.nav div h5 {
    color: #8d8d8d;
    font-size: 15px;
    display: block;
}

.nav div {
    vertical-align: top;
    text-align: center;
    margin: auto;
}

.Twosongs div img {
    transition: all 0.2s;
}

.Twosongs div img:hover {
    filter: brightness(0.8);
}
